<section id="contact" class="contact">
    <h1 class="titre">Contact</h1>
    <div class="row contact-content">
        <div class="col-2">
            <div class="contact-coord">
                <p><span class="color-green">Province :</span> 5000 Namur</p>
                <p><span class="color-green">Mail :</span> gravythomas@gmail.com</p>
                <p class="gsm"><span class="color-green">GSM :</span> 0474393739</p>
                <p class="gsm-resp btn" ><a href="tel:0474393739" >GSM : 0474393739</a></p>
                <br>
                <button class="btn">CV</button>
                <a class="btn" href="">LINKEDIN</a>
                <a class="btn" href="">BEHANCE</a>
            </div>
        </div>
        <div class="col-2">
            <div class="contact-form">
                {{ form_start(contactForm) }}
                {{ form_widget(contactForm.nom, {'attr': {'class': 'sujet-field', 'placeholder': 'Sujet...'}}) }}
                {{ form_widget(contactForm.email, {'attr': {'class': 'mail-field', 'placeholder': "Votre Email..."}}) }}
                {{ form_widget(contactForm.message, {'attr': {'class': 'message-field', 'placeholder': "Votre message..."}}) }}
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
</section>
