<section id="contact" class="contact">
    <div id="sendMessage">
        <p>Votre message à bien été envoyer, merci.</p>
    </div>
    <h1 class="titre">Contact</h1>
    <div class="row contact-content">
        <div class="col-2">
            <div class="contact-coord">
                <p><span class="color-green">Province :</span> 5000 Namur</p>
                <p><span class="color-green">Mail :</span> gravythomas@gmail.com</p>
                <p class="gsm"><span class="color-green">GSM :</span> 0474393739</p>
                <p class="gsm-resp btn" ><a href="tel:0474393739" >GSM : 0474393739</a></p>
                <br>
                <a class="btn" target="_blank" href="https://dcode.design/CV-THOMAS_GRAVY-2020.pdf">MON CV</a>
                <a class="btn" target="_blank" href="https://www.linkedin.com/in/thomasgravy/">LINKEDIN</a>
                <a class="btn" target="_blank" href="https://www.behance.net/gravythomas" >BEHANCE</a>
            </div>
        </div>
        <div class="col-2">
            <div class="contact-form">
                {{ form_start(contactForm, {'attr': {'id': 'contactForm'}}) }}
                {{ form_widget(contactForm.nom, {'attr': {'class': 'sujet-field', 'placeholder': 'Sujet...'}}) }}
                {{ form_widget(contactForm.email, {'attr': {'class': 'mail-field', 'placeholder': "Votre Email..."}}) }}
                {{ form_widget(contactForm.message, {'attr': {'class': 'message-field', 'placeholder': "Votre message..."}}) }}
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
</section>

<style>
    #sendMessage {
        display: inline-block;
        position: fixed;
        top: -100px;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 0px;
        padding: 0px 10px 0px 10px;
        font-size: 16px;
        font-weight: bold;
        color: #040404;
        background-color: #39ff64;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        border: none;
        z-index: 99999;
        -webkit-box-shadow: 0px 0px 32px 12px rgba(0,0,0,0.98);
        -moz-box-shadow: 0px 0px 32px 12px rgba(0,0,0,0.98);
        box-shadow: 0px 0px 32px 12px rgba(0,0,0,0.98);
        transition: all 0.6s ease-in;
    }
    #sendMessage.show {
        top: 21px;
    }

</style>
